<h1 class="ui center aligned header">
  Welcome to MessageMe
</h1>
<h1 class="ui center aligned medium icon header">
  <i class="circular orange comments icon"></i>
  Log in to continue
</h1>

<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <%= form_with(scope: :session, url: login_path, class: "ui form", local: true) do |form| %>
        <div class="field">
          <%= form.label :username, 'Username' %>
          <div class="ui left icon input">
            <%= form.text_field :username, placeholder: 'Username' %>
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <%= form.label :password, 'Password' %>
          <div class="ui left icon input">
            <%= form.password_field :password, placeholder: 'Enter your password' %>
            <i class="lock icon"></i>
          </div>
        </div>
        <%= form.submit "Log in", class: "ui orange submit button" %>
      <% end %>
    </div>
    <div class="middle aligned column">
      <%= link_to ' <i class="signup icon"></i> Sign Up'.html_safe, signup_path, class: 'ui orange big button' %>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>
