<h1 class="ui center aligned header">
  Message Me Chatrooms
</h1>

<%= will_paginate @chatrooms, renderer: WillPaginateSemanticUi::ActionView::Renderer %>

<table class="ui celled table">
  <thead>
    <tr><th>Topic</th>
    <th>Messages</th>
  </tr></thead>
  <tbody>
    <% @chatrooms.each do |chatroom| %>
      <tr>
        <td data-label="Username"><%= link_to chatroom.topic, chatroom_path(chatroom)%></td>
        <td data-label="Messages"><%= chatroom.messages.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>