<div class="row col-md-8 col-md-offset-2">
  <h1><%= @chatroom.topic %></h1>

<div class="panel panel-default">
  <div class="ui fluid raised card chatbox">
    <div class="content", id="messages">
      <div class="ui feed", id="chatromm_container" >
        <div class="event">
          <div class="content">
            <% @messages.each do |message| %>
              <%= render partial: 'messages/message', locals: { message: message } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render partial: 'messages/message_form', locals: {message: @message, chatroom: @chatroom}%>

