<div class="ui placeholder segment">
  <div class="ui ">
    <div class="column">
      <%= form_with(model: user, class: "ui form", local: true) do |form| %>
        <div class="field">
          <%= form.label :username, 'Username' %>
          <div class="ui left icon input">
            <%= form.text_field :username, placeholder: 'Username' %>
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <%= form.label :password, 'Password' %>
          <div class="ui left icon input">
            <%= form.password_field :password, placeholder: 'Enter your password' %>
            <i class="lock icon"></i>
          </div>
        </div>
        <%= form.submit "Sign Up", class: "ui orange submit button" %>
      <% end %>
    </div>
  </div>
</div>