<div class="row justify-content-md-center">
  <div class="col-8 mt-4">
    <div class="card shadow mb-5 bg-white rounded text-center">
      <div class="card-header font-italic">
        <%= link_to user.username, user, class: "header-link" %>
      </div>
      <div class="card-body">
        <%= link_to "View profile", user, class: "btn btn-outline-info"%>
      </div>
      <div class="card-footer text-muted">
        <small>Joined <%= time_ago_in_words(user.created_at) %> ago</small>
      </div>
    </div>
  </div>
</div>