<h1 class="ui center aligned header">
  Message Me Friends
</h1>

<%= will_paginate @users, renderer: WillPaginateSemanticUi::ActionView::Renderer %>

<table class="ui celled table">
  <thead>
    <tr><th>Username</th>
    <th>Sent messages</th>
  </tr></thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td data-label="Username"><%= user.username %></td>
        <td data-label="Messages"><%= user.messages.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
