<h1 class="ui center aligned header">
  Sign Up for Message Me
</h1>
<h1 class="ui center aligned medium icon header">
  <i class="circular orange comments icon"></i>
</h1>

<%= render 'form', user: @user %>