<h1 class="ui center aligned header">
  Welcome to MessageMe
</h1>
<h2 class="ui center aligned icon header">
  <i class="circular orange comments icon"></i>
  You can see the rooms or users in the navigation bar<br>
  If you want to interact, you just have to sign up
</h2>