<div class="container">
  <% flash.each do |message_type, message_content| %>
    <div class="ui <%= message_type %> message transition">
      <i class="close icon"></i>
      <div class="header">
        <%= message_content %>
      </div>
    </div>
  <% end %>
</div>