<%= link_to "Chatrooms", chatrooms_path, class: "item"%>
<%= link_to "Friends", users_path, class: "item"%>
<div class="right menu">
  <div class="ui dropdown item">
    Account <i class="dropdown icon"></i>
    <div class="menu">
      <% if logged_in? %>
        <%= link_to 'Logout', logout_path, class: 'item', method: :delete %>
      <% else %>
        <%= link_to "Log in", login_path, class: "item"%>
      <% end %>
    </div>
  </div>
  <% unless logged_in? %>
    <div class="item">
        <%= link_to 'Sign Up', signup_path, class: 'ui orange button' %>
    </div>
    <% end %>
</div>